.attribution { font-size: 11px; text-align: center; }
.att.attribution { font-size: 11px; text-align: center; }

body {
    font-family: 'Karla';
    background-color: hsl(204, 43%, 93%);
    font-size: 16px;
}

.container {
    width: 45rem;
    margin: 3% 20%;
}

.top {
    background-color: white;
    padding: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.top > h1 {
    color: hsl(179, 62%, 43%);
}

.top > h2 {
    color: hsl(71, 73%, 54%);
}

.top > p {
    color: hsl(204, 43%, 93%); 
    font-size: 1.2rem;
    margin: 5px;
    line-height: 1.7rem;
}

.bottom {
    display: flex;
    flex-direction: row;
}

.bottom > .item {
    width: 50%;
    color: white;
}

.left {
    background-color: hsl(179, 62%, 43%);
    padding: 30px;
    border-bottom-left-radius: 10px;
}

.left > p {
    margin-bottom: 45px;
}

.right {
    padding: 30px;
    border-bottom-right-radius: 10px;
    background-color: hsl(179, 54%, 50%);
}

ul {
    font-size: 15px;
    list-style: none;
    padding-left: 0;
    line-height: 1.5rem;
    color: hsl(204, 43%, 93%);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#sign-up {
    background-color: hsl(71, 73%, 54%);
    color: rgb(255, 255, 255);
    padding: 15px 5.5rem;
    border-radius: 5px;
    font-weight: 700;
}

.dollar {
    font-size: 32px;
    color: white;
    font-weight: 700;
}

span {
    color: hsl(204, 43%, 93%);
}

@media screen and (max-width: 375px) {
    body {
        font-size: 60%;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        width: 85%;
        margin: 5%;
    }

    .top {
        padding: 6%;
    }

    .top > p {
        margin: 5% 0;
        font-size: 0.8rem;
        line-height: 1.5rem;
    }

    .bottom {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .bottom > .item {
        width: 100%;
        margin: 0;
    }

    .left {
        border-bottom-left-radius: 0;
        padding: 0 0 12% 0;
    }

    .left > p {
        font-size: 14px;
        margin-left: 7%;
        margin-bottom: 15%;
    }

    .dollar {
        margin-left: 7%;
    }

    .left > h2 {
        margin-left: 7%;
        font-size: 1.01rem;
        padding-top: 4%;
    }
    
    #pm {
        font-size: 15px;
    }

    .right {
        width: 5%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 0 0 5% 0;
    }

    .right > h2 {
        margin-left: 7%;
    }

    li:nth-child(n) {
        margin-left: 7%;
    }

    #sign-up {
        padding: 5% 35%;
        margin-left: 6%;
        font-size: 13px;
    }

}